.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.drum-pads{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.drum-pad{

  text-align: center;
  border: 1px solid blue;
  padding:.5rem;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

